@font-face {
    font-family: Bold;
    src: url(./assets/Fonts/Futura-Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(./assets/Fonts/DM-Sans-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #000;
    color: #fff;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightblue; */
    padding: 0 2vw;
    position: fixed;
    z-index: 99;
}

nav .nav1{
    height: 4.5vw;
    overflow: hidden;
    /* background-color: salmon; */
}
nav .nav1 svg{
    display: block;
    /* margin-bottom: 0.3vw; */
}

nav .nav2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2vw;
}

nav .nav2 h3{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-family: Regular;
    font-weight: 300;
    cursor: pointer;
    transition: all ease 0.2s;
}

nav .nav2 h3:hover{
    color: #adadad;
}

nav svg{
    display: none;
    cursor: pointer;
}

nav .open,.menu{
    display: none;
}


.cursor{
    width: 15vw;
    height: 15vw;
    background-color: #adadad;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

.page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 8vw 1.2vw;
    /* background-color: burlywood; */
}

.page1 h1{
    text-transform: uppercase;
    font-size: 15.7vw;
    font-family: Bold;
    line-height: 14vw;
    letter-spacing: -0.4vw;
}

.page1 .video-container{
    width: 100%;
    height: 100vh;
    margin-top: 1vw;
}
.page1 .video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2{
    width: 100%;
    min-height: 100vh;
    /* background-color: lightblue; */
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2vw;
}

.page2 #box{
    width: 30%;
    height: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.page2 #box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.page2 #box .over1{
    position: absolute;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    padding: 1vw;
    border-radius: 1.8vw;
    background-color: #F5DFCF;
}

.page2 #box .over1 h4{
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: Regular;
}

.page2 #box .over2{
    position: absolute;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    padding: 1vw;
    border-radius: 1.8vw;
    background-color: #EDF3FF;
}

.page2 #box .over2 h4{
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: Regular;
}

.page2 #box .over3{
    position: absolute;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    padding: 1vw;
    border-radius: 1.8vw;
    background-color: #fff;
}

.page2 #box .over3 h4{
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: Regular;
}

.page3{
    width: 100%;
    min-height: 30vh;
    /* background-color: lightblue; */
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4vw;
    padding-right: 8vw;
}

.page3 .left{
    width: 41%;
    /* background-color: salmon; */
}
.page3 .left h1{
    font-size: 2.9vw;
    text-transform: uppercase;
    font-family: Bold;
    line-height: 3.2vw;
}

.page3 .right{
    width: 26%;
    /* background-color: burlywood; */
}

.page3 .right h3{
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
    margin-bottom: 1vw;
}

.page3 .right .btn{
    font-size: 0.8vw;
    font-family: Regular;
    font-weight: 300;
    cursor: pointer;
}

.page3 .right .dash{
    width: 0.001vw;
    height: 0.1vw;
    background-color: #000;
    margin-top: 0.5vw;
    transition: all ease 0.5s;
}

.page3 .right .btn:hover + .dash{
    width: 6.5vw;
}

.page4{
    width: 100%;
    min-height: 100vh;
    /* background-color: lightblue; */
}

.page4 .top{
    /* width: 90%; */
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: salmon; */
}

.page4 .top .top1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page4 .top .top1 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .top .top1 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .top .top2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4 .top .top2 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .top .top2 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .bottom{
    /* width: 90%; */
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: salmon; */
}

.page4 .bottom .bottom1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page4 .bottom .bottom1 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .bottom .bottom1 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .bottom .bottom2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4 .bottom .bottom2 h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
}

.page4 .bottom .bottom2 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-family: Regular;
    font-weight: 300;
}

.page5{
    width: 100%;
    min-height: 50vh;
    /* background-color: lightblue; */
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5vw 0;
}

.page5 h1{
    font-size: 4vw;
    text-align: center;
    line-height: 3.8vw;
    text-transform: uppercase;
    font-family: Bold;
    margin-bottom: 2vw;
}

.page5 .button{
    padding: 1.5vw 4vw;
    background-color: #000;
    color: #fff;
    font-size: 0.7vw;
    font-family: Regular;
    text-transform: uppercase;
    border-radius: 2vw;
    transition: all ease 0.5s;
    cursor: pointer;
    margin-bottom: 2vw;
}

.page5 .button:hover{
    color: #d4d3d3;
}

.page5 h3{
    font-size: 0.9vw;
    font-family: Regular;
}

.page6{
    width: 100%;
    min-height: 100vh;
    /* background-color: lightblue; */
    display: flex;
    margin-top: 2vw;
}

.page6 .left-side{
    width: 30%;
    /* background-color: salmon; */
    padding: 2vw;
}

.page6 h2{
    font-size: 2vw;
    font-family: Bold;
    text-transform: uppercase;
    margin-bottom: 1.5vw;
}

.page6 h3{
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
    margin-bottom: 2vw;
}


.page6 .btn{
    font-size: 0.9vw;
    font-family: Regular;
    font-weight: 300;
    cursor: pointer;
}

.page6 .dash{
    width: 0.001vw;
    height: 0.1vw;
    background-color: #000;
    margin-top: 0.5vw;
    transition: all ease 0.5s;
}

.page6 .btn:hover + .dash{
    width: 8vw;
}

.page6 .right-side{
    width: 70%;
    display: flex;
    gap: 1vw;
    /* padding: 2vw; */
    /* background-color: burlywood; */
}

.page6 .right-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page7{
    width: 100%;
    min-height: 30vh;
    /* background-color: lightblue; */
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0vw;
    padding: 5vw 2vw;
}

.page7 .part1 h3{
    font-size: 0.8vw;
    text-transform: uppercase;
    font-family: Regular;
    color: #DBDBDB;
    margin-bottom: 1vw;
}

.page7 .part1 .part1-content h4{
    font-size: 0.9vw;
    font-family: Regular;
    /* margin-bottom: 0.5vw; */
}

.page7 .part2 svg{
    width: 15vw;
    height: 13vw;
}

.page7 .part3 h3{
    font-size: 0.8vw;
    text-transform: uppercase;
    font-family: Regular;
    color: #DBDBDB;
    margin-bottom: 1vw;
}

.page7 .part3 .part3-content h4{
    font-size: 0.9vw;
    font-family: Regular;
    text-align: end;
    /* margin-bottom: 0.5vw; */
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;
    gap: 1.5vw;
}

.footer h4{
    font-size: 0.7vw;
    font-family: Regular;
    color: #DBDBDB;
}





@media (max-width:600px) {
    nav {
        width: 100%;
        height: 6vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: lightblue; */
        padding: 14vw 4vw;
        position: fixed;
        z-index: 99;
        overflow-x: hidden;
        position: relative;
    }

    nav .nav1 {
        height: 22vw;
        overflow: hidden;
        /* background-color: salmon; */
    }

    nav .nav2 {
        display: none;
    }

    nav .open,.menu{
        display: block;
    }


    nav .menu svg{
        display: block;
        cursor: pointer;
        /* background-color: salmon; */
    }

    .open{
        position: fixed;
        top: 16%;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #000;
        color: #fff;
        transition: all ease 0.8s;
        padding: 3vw 18vw;
    }
    
    .open h3{
        font-size: 13vw;
        font-family: Bold;
        margin-bottom: 22vw;
        text-transform: uppercase;
    }

    .page1 {
        width: 100%;
        min-height: 75vh;
        position: relative;
        padding: 16vw 2vw;
        padding-top: 20vw;
        /* background-color: burlywood; */
    }

    .page1 h1 {
        text-transform: uppercase;
        font-size: 15.6vw;
        font-family: Bold;
        line-height: 14vw;
        letter-spacing: -0.4vw;
    }

    .page1 .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .page1 .video-container {
        width: 100%;
        height: 30vh;
        margin-top: 2vw;
    }

    .page2 {
        flex-direction: column;
        padding: 6vw;
    }

    .page2 #box {
        width: 100%;
        height: 100%;
        /* background-color: salmon; */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .page2 #box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        margin-bottom: 10vw;
    }

    .page2 #box .over1 {
        position: absolute;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30vw;
        padding: 5vw 36vw;
        border-radius: 7vw;
        background-color: #F5DFCF;
    }

    .page2 #box .over1 h4 {
        font-size: 3vw;
        text-transform: uppercase;
        font-weight: Regular;
    }

    .page2 #box .over2 {
        position: absolute;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30vw;
        padding: 5vw 36vw;
        border-radius: 7vw;
        background-color: #EDF3FF;
    }

    .page2 #box .over2 h4 {
        font-size: 3vw;
        text-transform: uppercase;
        font-weight: Regular;
    }

    .page2 #box .over3 {
        position: absolute;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30vw;
        padding: 5vw 36vw;
        border-radius: 7vw;
        background-color: #fff;
    }

    .page2 #box .over3 h4 {
        font-size: 3vw;
        text-transform: uppercase;
        font-weight: Regular;
    }

    .page3 {
        width: 100%;
        min-height: 30vh;
        /* background-color: lightblue; */
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4vw;
        padding-right: 8vw;
    }

    .page3 .left {
        width: 100%;
        /* background-color: salmon; */
        margin-bottom: 3vw;
    }

    .page3 .left h1 {
        font-size: 7.3vw;
        text-transform: uppercase;
        font-family: Bold;
        line-height: 7vw;
    }

    .page3 .right {
        width: 100%;
        /* background-color: burlywood; */
    }

    .page3 .right h3 {
        text-align: center;
        font-size: 4vw;
        font-family: Regular;
        font-weight: 300;
        margin-bottom: 1.7vw;
    }

    .page3 .right .btn {
        font-size: 3vw;
        font-family: Regular;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
    }

    .page3 .right .dash {
        display: none;
    }

    .page4 .top {
        /* width: 90%; */
        padding: 2vw 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: salmon; */
    }

    .page4 .top .top1 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .top .top1 span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .top .top2 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .top .top2 span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .bottom {
        /* width: 90%; */
        padding: 2vw 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: salmon; */
    }

    .page4 .bottom .bottom1 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .bottom .bottom1 span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .bottom .bottom2 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page4 .bottom .bottom2 span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: Regular;
        font-weight: 300;
    }

    .page5 h1 {
        font-size: 4.8vw;
        text-align: center;
        line-height: 7vw;
        text-transform: uppercase;
        font-family: Bold;
        margin-bottom: 3vw;
    }

    .page5 .button {
        padding: 4vw 12vw;
        background-color: #000;
        color: #fff;
        font-size: 4vw;
        font-family: Regular;
        text-transform: uppercase;
        border-radius: 12vw;
        transition: all ease 0.5s;
        cursor: pointer;
        margin-bottom: 2vw;
    }

    .page5 h3 {
        font-size: 3vw;
        font-family: Regular;
    }

    .page6 {
        width: 100%;
        min-height: 100vh;
        /* background-color: lightblue; */
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2vw;
    }

    .page6 .right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0vw;
        /* padding: 2vw; */
        /* background-color: burlywood; */
    }

    .page6 .left-side {
        width: 100%;
        /* background-color: salmon; */
        padding: 4vw 2vw;
    }

    .page6 h2 {
        font-size: 8vw;
        font-family: Bold;
        text-transform: uppercase;
        margin-bottom: 1.5vw;
        text-align: center;
    }

    .page6 h3 {
        font-size: 3.7vw;
        font-family: Regular;
        font-weight: 300;
        margin-bottom: 2vw;
        text-align: center;
    }

    .page6 .btn {
        font-size: 3vw;
        font-family: Regular;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
    }

    .page6 .dash {
        display: none;
    }

    .page7 {
        width: 100%;
        min-height: 30vh;
        /* background-color: lightblue; */
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 0vw;
        padding: 5vw 2vw;
    }

    .page7 .part1 h3 {
        font-size: 3vw;
        text-transform: uppercase;
        font-family: Regular;
        color: #DBDBDB;
        margin-bottom: 3vw;
    }

    .page7 .part1 .part1-content{
        margin-bottom: 4vw;
    }

    .page7 .part1 .part1-content h4 {
        font-size: 3vw;
        font-family: Regular;
        /* margin-bottom: 0.5vw; */
    }
    
    .page7 .part2 svg {
        width: 30vw;
        height: 25vw;
    }

    .page7 .part3{
        margin-top: 4vw;
    }

    .page7 .part3 h3 {
        font-size: 3vw;
        text-transform: uppercase;
        font-family: Regular;
        color: #DBDBDB;
        margin-bottom: 3vw;
    }
    
    .page7 .part3 .part3-content h4 {
        font-size: 3vw;
        font-family: Regular;
        text-align: start;
        /* margin-bottom: 0.5vw; */
    }

    .footer h4 {
        font-size: 3vw;
        font-family: Regular;
        color: #DBDBDB;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vw;
        gap: 1.5vw;
    }
}